<div class="container">
  <div class="columns is-vcentered">
    <div class="column is-6 is-offset-3">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <label for="firstName" class="label">Prénom</label>
          <p class="control has-icon">
              <input type="text" id="firstName" class="input" formControlName="firstName" placeholder="Prénom">
              <i class="signup-icon fa fa-user-circle-o"></i>
          </p>
          <label for="lastName" class="label">Nom</label>
          <p class="control has-icon">
              <input type="text" id="lastName" class="input" formControlName="lastName" placeholder="Nom">
              <i class="signup-icon fa fa-user-circle"></i>
          </p>
          <hr>
          <div class="columns">
              <div class="column is-half is-offset-one-quarter">
                  <p class="control">
                      <button type="submit" class="button is-primary is-fullwidth" [disabled]="!myForm.valid">Mettre à jour</button>
                  </p>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>
