<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="columns is-vcentered">
        <div class="column is-8 is-offset-2">
            <div class="columns">
                <div class="column is-8">
                    <h1 class="title">Compte</h1>
                    <h2 class="subtitle">Modifier vos informations personnelles</h2>
                </div>
                <div class="column is-4">
                    <div id="profile-info-picture" class="has-text-centered">
                        <figure id="profile-info-picture-figure" class="image is-64x64">
                            <img [src]="picture">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <hr>
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <label for="firstName" class="label">Prénom</label>
                <p class="control has-icon">
                    <input type="text" id="firstName" class="input" formControlName="firstName" placeholder="Prénom">
                    <i class="signup-icon fa fa-user-circle-o"></i>
                </p>
                <label for="lastName" class="label">Nom</label>
                <p class="control has-icon">
                    <input type="text" id="lastName" class="input" formControlName="lastName" placeholder="Nom">
                    <i class="signup-icon fa fa-user-circle"></i>
                </p>
                <label for="picture" class="label">Photo de profil</label>
                <p class="control has-icon">
                    <input type="file" (change)="handleUpload($event)" />
                </p>
            </div>
        </div>
        <hr>
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <p class="control">
                    <button type="submit" class="button is-primary is-fullwidth" [disabled]="!myForm.valid">Mettre à jour</button>
                </p>
            </div>
        </div>
    </form>
</div>
