<app-menu-title title="Menu test"></app-menu-title>
<hr>
<div class="menu-content">

    <div id="menu-users-list" class="columns">
    <span class="tag is-info">NB</span>
    <span class="tag is-info">SB</span>
    </div>
    <div id="menu-users-add-button" class="columns">
    <a class="button is-light">
        <span class="icon menu-icon-add-user">
        <i class="fa fa-user-plus"></i>
        </span>
        Ajouter des utilisateurs
    </a>
    </div>

    <hr>

    <div id="menu-options-list">
    <div class="menu-option">
        <span class="icon">
        <i class="fa fa-paint-brush"></i>
        </span>
        Changer le fond d'écran <br/>
    </div>
    <div class="menu-option">
        <span class="icon">
        <i class="fa fa-filter"></i>
        </span>
        Filtrer les cartes <br/>
    </div>
    <div class="menu-option">
        <span class="icon">
        <i class="fa fa-paper-plane"></i>
        </span>
        Power-Ups <br/>
    </div>
    <div class="menu-option">
        <span class="icon">
        <i class="fa fa-paper-plane"></i>
        </span>
        Stickers <br/>
    </div>
    <div class="menu-option">
        <span class="icon">
        <i class="fa fa-ellipsis-h"></i>
        </span>
        Plus
    </div>
    </div>
    <hr>

    <div id="menu-activity">
    <div class="menu-option menu-activity-label">
        <span class="icon">
        <i class="fa fa-newspaper-o"></i>
        </span>
        Activités
    </div>

    <div class="activity columns">
        <div class="menu-activity-label column is-narrow">
        <span class="tag is-info">NB</span>
        </div>
        <div class="menu-activity-content column">
        <span class="menu-activity-user">Nicolas Bouhours</span>
        <span class="menu-activity-text"> a ajouté Project cuisine a ce tableau</span>
        <span class="menu-activity-time"> - Il y a deux heures</span>
        </div>
    </div>

    <div class="activity columns">
        <div class="menu-activity-label column is-narrow">
        <span class="tag is-info">NB</span>
        </div>
        <div class="menu-activity-content column">
        <span class="menu-activity-user">Nicolas Bouhours</span>
        <span class="menu-activity-text"> a ajouté Project cuisine a ce tableau</span>
        <span class="menu-activity-time"> - Il y a deux heures</span>
        </div>
    </div>

    <div class="activity columns">
        <div class="menu-activity-label column is-narrow">
        <span class="tag is-info">NB</span>
        </div>
        <div class="menu-activity-content column">
        <span class="menu-activity-user">Nicolas Bouhours</span>
        <span class="menu-activity-text"> a ajouté Project cuisine a ce tableau</span>
        <span class="menu-activity-time"> - Il y a deux heures</span>
        </div>
    </div>

    <div class="activity columns">
        <div class="menu-activity-label column is-narrow">
        <span class="tag is-info">NB</span>
        </div>
        <div class="menu-activity-content column">
        <span class="menu-activity-user">Nicolas Bouhours</span>
        <span class="menu-activity-text"> a ajouté Project cuisine a ce tableau</span>
        <span class="menu-activity-time"> - Il y a deux heures</span>
        </div>
    </div>

    <div class="activity columns">
        <div class="menu-activity-label column is-narrow">
        <span class="tag is-info">NB</span>
        </div>
        <div class="menu-activity-content column">
        <span class="menu-activity-user">Nicolas Bouhours</span>
        <span class="menu-activity-text"> a ajouté Project cuisine a ce tableau</span>
        <span class="menu-activity-time"> - Il y a deux heures</span>
        </div>
    </div>

            <div class="activity columns">
        <div class="menu-activity-label column is-narrow">
        <span class="tag is-info">NB</span>
        </div>
        <div class="menu-activity-content column">
        <span class="menu-activity-user">Nicolas Bouhours</span>
        <span class="menu-activity-text"> a ajouté Project cuisine a ce tableau</span>
        <span class="menu-activity-time"> - Il y a deux heures</span>
        </div>
    </div>

    <div class="activity columns">
        <div class="menu-activity-label column is-narrow">
        <span class="tag is-info">NB</span>
        </div>
        <div class="menu-activity-content column">
        <span class="menu-activity-user">Nicolas Bouhours</span>
        <span class="menu-activity-text"> a ajouté Project cuisine a ce tableau</span>
        <span class="menu-activity-time"> - Il y a deux heures</span>
        </div>
    </div>

    <div class="activity columns">
        <div class="menu-activity-label column is-narrow">
        <span class="tag is-info">SB</span>
        </div>
        <div class="menu-activity-content column">
        <span class="menu-activity-user">Nicolas Bouhours</span>
        <span class="menu-activity-text"> a ajouté Project cuisine a ce tableau</span>
        <span class="menu-activity-time"> - Il y a deux heures</span>
        </div>
    </div>

    <div class="activity columns">
        <div class="menu-activity-label column is-narrow">
        <span class="tag is-info">SB</span>
        </div>
        <div class="menu-activity-content column">
        <span class="menu-activity-user">Nicolas Bouhours</span>
        <span class="menu-activity-text"> a ajouté Project cuisine a ce tableau</span>
        <span class="menu-activity-time"> - Il y a deux heures</span>
        </div>
    </div>

    <div class="activity columns">
        <div class="menu-activity-label column is-narrow">
        <span class="tag is-info">SB</span>
        </div>
        <div class="menu-activity-content column">
        <span class="menu-activity-user">Nicolas Bouhours</span>
        <span class="menu-activity-text"> a ajouté Project cuisine a ce tableau</span>
        <span class="menu-activity-time"> - Il y a deux heures</span>
        </div>
    </div>

    <div class="activity columns activity-loadmore">
        <a class="button is-light">
            <span class="icon menu-icon-add-user">
            <i class="fa fa-refresh"></i>
            </span>
            Afficher toutes les activitées
        </a>
    </div>

    </div>
</div>