<section id="home" class="hero is-default is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
        <div class="columns is-vcentered">
            <div class="column is-6 is-offset-3">
            <h1 class="title is-2">
                Mean stack
            </h1>
            <h2 class="subtitle is-4">
                Node.js, Angular 2, Express, MongoDB
            </h2>
            <br>
            <p class="has-text-centered">
                <a class="button is-large">
                Let's start 
                </a>
            </p>
            </div>
        </div>
        </div>
    </div>
</section>