<section class="hero is-ligth is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-6 is-offset-3">
                    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                        <h1 class="title">Connexion</h1>
                        <div class="box">
                            <label for="email" class="label">Email</label>
                            <p class="control">
                                <input type="text" id="email" class="input" formControlName="email">
                            </p>
                            <label for="password" class="label">Mot de passe</label>
                            <p class="control">
                                <input type="text" id="password" class="input" formControlName="password">
                            </p>
                            <hr>
                            <div class="columns">
                                <div class="column is-half is-offset-one-quarter">
                                    <p class="control">
                                        <button type="submit" class="button is-primary is-fullwidth" [disabled]="!myForm.valid">Se connecter</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p class="has-text-centered">
                            <a [routerLink]="['/auth', 'signup']">Créer un Compte</a>
                            | 
                            <a href="#">Mot de passe perdu</a>
                            | 
                            <a href="#">Besoin d'aide?</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
