<div class="page-container">
    <div class="container vertical-center">
        <div class="columns is-vcentered">
            <div class="column is-6 is-offset-3 has-text-centered">
                <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <h3 id="forgot-title" class="title is-3 ">Vous avez perdu votre mot de passe ?</h3>
                    <span class="icon is-large">
                        <i class="fa fa-heartbeat"></i>
                    </span>
                    <h5 id="forgot-subtitle" class="subtitle is-5">Pas de panique, veuillez entrer votre adresse email dans ce formulaire et nous vous enverrons un lien qui vous permettra de récupèrer votre mot de passe
                    </h5>
                    <p class="control">
                        <input type="text" id="email" class="input" formControlName="email" placeholder="Email">
                    </p>
                    <div id="forgot-button-container" class="columns">
                        <div class="column is-half is-offset-one-quarter">
                            <p class="control">
                                <button type="submit" class="button is-primary is-fullwidth" [disabled]="!myForm.valid">Récupèrer mon mot de passe</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

