<div class="card is-3">
  <form [formGroup]="myForm">
    <header class="card-header">
      <div class="card-header-title">
          <input class="group-name" (change)="onChangeName()" type="text" formControlName="name">
      </div>
      <a class="card-header-icon">
        <i class="icon-options fa fa-ellipsis-h"></i>
      </a>
    </header>
    <div class="card-content">
      <div class="content">

        <br>
      </div>
    </div>
    <footer class="card-footer">

    </footer>
  </form>
</div>
