<div class="card is-3">
  <form [formGroup]="myForm">
    <header class="card-header">
      <div class="card-header-title">
          <input class="group-name" (change)="onChangeName()" type="text" formControlName="name">
      </div>
      <a class="card-header-icon">
        <app-dropdown [dropdowns]="dropdownActions" [group]="group"></app-dropdown>
      </a>
    </header>
    <div class="card-content">
      <div class="content">

        <br>
      </div>
    </div>
    <footer class="card-footer">
      <a id="button-add-task" class="button-add-task" (click)="onOpenMenu()"> Ajouter une carte ... </a>     
    </footer>
  </form>
</div>
