.card {
    margin: 5px;
    background-color: #E2E4E6;
    border-radius: 3px;
}

.card-header {
    box-shadow: initial;
}

.card-footer {
    border-top: none;
}

.remove-icon {
    color: #ff3860;
    font-size: 13px;
}

.icon-options {
    color:grey;
    font-size: 12px;
}

.group-name {
    background-color: #E2E4E6;
    border: none;
    color:#4a4a4a;
    font-weight: bold;
    font-size: 16px;
}

.group-name:focus {
    background-color: whitesmoke;
}