#project-detail {
    height: 100%;
    overflow-y: auto;
    margin: 10px;
}

#project-name, #show-menu-container {
    font-weight: 500;
    color: whitesmoke;
}

#show-menu-container {
    font-size: 14px;
}

#show-menu-group {
    width: auto;
    float: right;
    padding: 3px;
}

#show-menu-group:hover{
    background-color: rgba(0,0,0,.15);
}

.icon-show-menu {
    color: white;
    font-size: 12px;
    margin-top: -1px;
}

#input-add-group{
    min-height: 40px;
    width: 250px;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(0,0,0,.15);
    color: white;
    border: none;
}

#input-add-group::-webkit-input-placeholder{
    color: whitesmoke;
}


#project-detail, #menu {
    display: inline-block;
    vertical-align: top;
}

.project-detail-page {
    background-color: #282f39;
}